<div class="banner-show">
  <%= cl_image_tag @van.photo.key  %>
</div>

<div class="description-container">
  <div class="container-description">
      <h2>Information:</h2>
    <div class="container-show">
      <div class="row show-card">
        <div class="col-3">
          <%= image_tag "size.png", class: "show-icon"%>
        </div>
        <div class="col-9">
          <p>Size: <%= @van.size %></p>
        </div>

        <div class="row show-card">
        <div class="col-3">
          <%= image_tag "location.png", class: "show-icon"%>
        </div>

        <div class="col-9">
          <p>Located In: €<%= @van.location %></p>
        </div>
      </div>

      <div class="row show-card">
        <div class="col-3">
          <%= image_tag "euro.png", class: "show-icon"%>
        </div>

        <div class="col-9">
          <p>PPN: €<%= @van.price_per_night %></p>
        </div>
      </div>

      <div class="row show-card">
        <div class="col-3">
          <%= image_tag "owner.png", class: "show-icon"%>
        </div>

        <div class="col-9">
          <p>Owner:
          <% user_id = @van.user_id %>
          <%= User.find(user_id).name%></p>
        </div>
      </div>


      <div class="row show-card">
        <div class="col-3">
          <%= image_tag "available.png", class: "show-icon"%>
        </div>

        <div class="col-9">
          <% if @van.availability == 1 %>
            <p>Available on your dates</p>
          <% else %>
            <p>Not Available on selected dates</p>
          <% end %>
        </div>
      </div>

      <div class="row show-card">
        <div class="col-3">
          <%= image_tag "picker.png", class: "show-icon"%>
        </div>

        <div class="col-9">
          <span><%= params[:start_date] %>   to   <%= params[:end_date] %></span>
        </div>
      </div>

    <div class="row show-card">
      <div class="col-12">
        <% if current_user.nil? %>
          <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#exampleModal">
        Book Now
      </button>
        <% else %>
        <%= link_to "Book Now", van_booking_path(@van), class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="col-9 container">
  <div class="description-box">
    <div class="row header-show">
      <%= image_tag "camper.png", class: "img-wagon", alt: "camper-icon" %>
      <h1><%= @van.title %></h1>
    </div>
    <div class="row description-show">
      <p><%= @van.description %></p>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-inputs">
          <%= f.input :name,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "name" }%>
          <%= f.input :email,
          required: false,
          autofocus: true,
          input_html: { autocomplete: "email" } %>
          <%= f.input :password,
          required: false,
          input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in" %>
        </div>

          <div class="shared">
            <%= render "devise/shared/links" %>
          </div>

        <% end %>
      </div>

      </div>
    </div>
  </div>
</div>



