<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515876305430-f06edab8282a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <div class="row">
      <div class="search-flex">
        <h2 class="search-header">Looking for a campervan?</h2>
        <h2 class="search-header">We got you.</h2>
        <form action = "/vans" method = "GET">
          <input class="form-control form-control-lg" type="text" placeholder="Location" name="location">
          <div class="form-row">
            <div class="col">
              <input type="date" required class="form-control form-control-lg" placeholder="Start Date" name="start_date">
            </div>
            <div class="col">
              <input type="date" required class="form-control form-control-lg" placeholder="End Date" name="end_date">
            </div>
          </div>
          <input type ="submit" value = "Submit" class="btn btn-success">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-camper">
  <div class="header-van">
    <%= image_tag "camper.png", class: "img-wagon", alt: "camper-icon", width: 30 %>
    <h2>Our Happy Campers</h2>
    <i class="fas fa-chevron-down"></i>
  </div>

</div>
    <div class="cards">
      <% @vans.each do |van| %>
          <div class="card-trip-wider">
            <%= cl_image_tag van.photo.key %>
            <div class="card-trip-wider-infos">
              <div>
                <h2><%=link_to "#{van.title}", van_path(van.id)%></h2>
                <p><%=van.location%></p>
                <p>Sleeps: <%=van.size%></p>
                <p>€<%=van.price_per_night%> per night</p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
</div>
