<!-- Shows one booking -->
<div class="big-container">
  <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/594384/van-vw-travel-trip-594384.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  </div>

  <div class="container-booking">

  <h1>Your Booking</h1>
  <div class="row"><p><strong>Current User:</strong> <%=current_user.name%></p></div>
  <div class="row"><p><strong>Booking Reference:</strong> <%=@booking.id%></p></div>
  <div class="row"><p><strong>Start Date:</strong> <%=@booking.start_date%></p></div>
  <div class="row"><p><strong>End Date:</strong> <%=@booking.end_date%></p></div>
  <div class="row"><p><strong>Van:</strong> <%=link_to "#{@van.title}", van_path(@van)%></p></div>
  <div class="row"><p>Euros <%=@booking.total_price%></p></div>
  <div class="row"><p><strong>Booking Status:</strong>
    <% if @booking.booking_status == 2  %>
      <%= "Awaiting Confirmation From Owner"%>
    <% elsif @booking.booking_status == 1  %>
      <%= "Confirmed" %>
    <% elsif @booking.booking_status == 0 %>
      <%= "Booking Declined" %>
    <% elsif @booking.booking_status == 3 %>
      <%= "Trip Completed" %></p>
    <% end %>
  </div>
  <div class="row"><% if @booking.booking_status == 3 %>
    <%= link_to "Review your trip", new_van_review_path(@van) %>
  <% end %>
  </div>
</div>
</div>

