
<div class="guest-profile col-6 offset-3">
  <div class="guest-container">
    <div class="avatar-large">
    <%= cl_image_tag @guest.photo.key, class: "avatar-large" %>
    </div>
    <div class="guest-profile-description">
      <div class="guest-name"><p><strong><%=@guest.name%></strong></p></div>
      <div class="guest-phone"><p><%=@guest.phone_number%></p></div>
      <div class="guest-email"><p><%=@guest.email%></p></div>
      <div class="guest-confirmation"><p><strong>Booking Status:</strong><br>
        <% if @booking.booking_status == 2  %>
          <%= "Awaiting Confirmation From You"%>
        <% elsif @booking.booking_status == 1  %>
          <%= "Trip Upcoming" %>
        <% elsif @booking.booking_status == 0 %>
          <%= "You Have Declined The Booking" %>
        <% elsif @booking.booking_status == 3 %>
          <%= "Trip Completed" %></p>
        <% end %>
      </div>
      <div class="guest-date"><p><strong>Dates:</strong><br> <%=@booking.start_date%> - <%=@booking.end_date%></p></div>
      <div class="guest-van"><p><strong>Hiring:</strong><br> <%= link_to "#{@van.title}", van_path(@van.id) %></p></div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message <%= @guest.name %></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <div class="guest-buttons">
      <% if @booking.booking_status == 2 %>
      <%= link_to "Confirm Booking", accept_booking_path(@booking.id), method: :patch, class: "btn btn-flat" %>
      <%= link_to "Delete Booking", decline_booking_path(@booking.id), method: :patch, class: "btn btn-flat" %>
      <% else %>
      <% end %>
    </div>
</div>
