<div class="container guest-high">

  <div class="tabs guest-tabs">
    <a href="#" class="tab active" data-target="#tc-1">Pending</a>
    <a href="#" class="tab" data-target="#tc-2">Upcoming</a>
    <a href="#" class="tab" data-target="#tc-3">Past</a>
  </div>

  <div class="container-guest cards-guests d-flex flex-wrap">

    <% current_user.vans.each do |van| %>
    <% van.bookings.each do |booking| %>
    <div class="cards-booking mb-4">
      <%= cl_image_tag booking.user.photo.key %>
      <div class="cards-booking-infos">
        <span><%=booking.start_date%> <%=booking.end_date%></span>
        <h1><%=booking.user.name%></h1>
        <p><%=booking.user.email%></p>
        <p><%=booking.user.phone_number%></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

