<!-- The main page is technically empty -->
<!-- It defaults to "Upcoming" status of the vans to display -->
<!-- But when you click on "Pending" or "Past bookings" -->
<!-- it will display respectively the pending or past bookings you've made -->
<!-- Clicking on one booking (card) will take you to that bookings -->


<div class="tabs">
  <a href="#" class="tab active" data-target="#tc-1">Pending</a>
  <a href="#" class="tab" data-target="#tc-2">Upcoming</a>
  <a href="#" class="tab" data-target="#tc-3">Past</a>
</div>

<div class="tab-containers">
  <div class="tab-container" id="tc-1">
    <div class="cards">
      <% @all_bookings.where(booking_status: 1).each do |booking| %>
      <div class="card-booking">
        <%= cl_image_tag booking.van.photo.key %>
        <div class="card-booking-infos">
          <div>
            <h2><%=link_to "#{booking.van.title}", trips_path(@all_bookings)%></h2>
            <p><%=booking.van.location%></p>
            <p>Sleeps: <%=booking.van.size%></p>
            <p>€<%=booking.van.price_per_night * 7%> total</p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="tab-container hidden" id="tc-2">  <div class="cards">
    <% @all_bookings.where(booking_status: 2).each do |booking| %>
    <div class="card-booking">
      <%= cl_image_tag booking.van.photo.key %>
      <div class="card-booking-infos">
        <div>
          <h2><%=link_to "#{booking.van.title}", van_path(booking.van.id)%></h2>
          <p><%=booking.van.location%></p>
          <p>Sleeps: <%=booking.van.size%></p>
          <p>€<%=booking.van.price_per_night * 7%> total</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="tab-container hidden" id="tc-3">
  <div class="cards">
    <% @all_bookings.where(booking_status: 3).each do |booking| %>
    <div class="card-booking">
      <%= cl_image_tag booking.van.photo.key %>
      <div class="card-booking-infos">
        <div>
          <h2><%=link_to "#{booking.van.title}", van_path(booking.van.id)%></h2>
          <p><%=booking.van.location%></p>
          <p>Sleeps: <%=booking.van.size%></p>
          <p>€<%=booking.van.price_per_night * 7%> total</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

